* {
    outline: 1px solid black;
}
.clearfix:after {
    content: '';
    display: table;
    clear: both;
}
body {
    width: 768px;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    font-size: 14px;
    line-height: 21px;
    color: #333333;
    font-weight: normal;
    font-family: "PT Sans Regular";
    text-transform: uppercase;
}
h1 {
    font-size: 21px;
    line-height: 26px;
    color: #000000;
    font-weight: bold;
    font-family: "PT Sans Bold";
}
h2 {
    font-size: 21px;
    line-height: 21px;
    color: #000000;
    font-weight: bold;
    font-family: "PT Sans Bold";   
}
.main-header {

}
.container {
    padding: 0px 0;
    margin-left: auto;
    margin-right: auto;
}
.logo {
    position: absolute;
    width: 138px;
    left: 450px;
}
.main-navigation {
    padding: 5px 0;
    width: 768px;
    margin-left: auto;
    margin-right: auto;
    font-size: 0;
}
.main-navigation li {
    display: inline-block;
    box-sizing: border-box;
    vertical-align: top;
    margin-right: 60px;
    font-size: 14px;
    padding: 18px 0;
}
.main-navigation li:first-child {
    margin-left: 0px;
}
.main-navigation li:nth-child(2) {
    margin-right: 180px;
}
.main-navigation li:nth-child(3) {
    margin-right: 45px;
}
.main-navigation li:last-child {
    margin-right: 0;
}
.main-navigation a {
    color: #000000;
    text-decoration: none;
}
form {
    background-image: url("hotels-bk-768x418.jpg");
}
.infrastructure {
    width: 200px;
    margin-left: 20px;
    float: left;
}
.accomodation-type {
    width: 200px;
    margin-left: 10px;
    float: left;
}
.right-column {
    width: 230px;
    margin-left: 10px;
    float: left;
}
.results {
    width: 676px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
}
.results-count, .sort {
    display: inline-block;
}

.results-container {
    width: 768px;
    margin-left: auto;
    margin-right: auto;
}
.results-hotel {
    width: 676px;
    border-top: 1px solid #e5e5e5;
    margin-left: auto;
    margin-right: auto;
}
.results-hotel:last-child {
    border-bottom: 1px solid #e5e5e5;
}
.central-column {
    width: 380px;
    float: left;
}
.rating {
    width: 153px;
    float: right;
}
.results-hotel a {
    display: inline-block;
}
.main-footer {
    padding: 5px;
}
.hashtag {
    width: 160px;
    float: left;
    margin-left: 45px;
    margin-right: 85px;
}
.footer-social {
    width: 175px;
    float: left;
    margin-right: 65px;
}
.footer-copyright {
    width: 210px;
    float: left;
    margin-right: 18px;
}
