/* Иконочный шрифт */
@font-face {
  font-family: 'symbols-sedona';
  src: url('../font/symbols-sedona.eot?60737633');
  src: url('../font/symbols-sedona.eot?60737633#iefix') format('embedded-opentype'),
       url('../font/symbols-sedona.woff?60737633') format('woff'),
       url('../font/symbols-sedona.ttf?60737633') format('truetype'),
       url('../font/symbols-sedona.svg?60737633#symbols-sedona') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'symbols-sedona';
    src: url('../font/symbols-sedona.svg?60737633#symbols-sedona') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "symbols-sedona";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
     
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-facebook:before { content: '\66'; } /* 'f' */
.icon-twitter:before { content: '\74'; } /* 't' */
.icon-up-dir:before { content: '\25b2'; } /* '▲' */
.icon-down-dir:before { content: '\25bc'; } /* '▼' */
.icon-star:before { content: '\2605'; } /* '★' */
.icon-check-off:before { content: '\2610'; } /* '☐' */
.icon-check-on:before { content: '\2611'; } /* '☑' */
.icon-calendar:before { content: '\e800'; } /* '' */
.icon-plus:before { content: '\e801'; } /* '' */
.icon-minus:before { content: '\e802'; } /* '' */
.icon-youtube:before { content: '\f39e'; } /* '' */

/* Стили страниц*/
 {
    outline: 1px solid black;
}
body {
    width: 768px;
    margin: auto;
    padding: 0;
    font-size: 14px;
    line-height: 21px;
    color: #333333;
    font-weight: normal;
    font-family: "PT Sans", "Arial", sans-serif;
    text-transform: uppercase;
}
h1 {
    font-size: 21px;
    line-height: 26px;
    color: #000000;
    font-weight: bold;
    font-family: "PT Sans", "Arial", sans-serif;
}
h2 {
    font-size: 21px;
    line-height: 21px;
    color: #000000;
    font-weight: bold;
    font-family: "PT Sans", "Arial", sans-serif;
}
.clearfix:after {
    content: '';
    display: table;
    clear: both;
}
.container {
    padding: 0;
    margin: auto;
    position: relative;
}
.logo {
    position: absolute;
    width: 138px;
    left: 50%;
    margin-left: -69px;
    z-index: 2;
}
.main-navigation {
    width: 676px;
    margin: 0 auto;
    font-size: 0;
}
.main-navigation ul {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 0;
}
.main-navigation li {
    display: inline-block;
    vertical-align: top;
    font-size: 14px;
    line-height: 26px;
    font-weight: bold;
    width: 20%;
    margin-right: 18px;
}
.main-navigation li:nth-child(3n) {
    margin-right: 0;
}
.left {
    float: left;
}
.right {
    text-align: right;
    float: right;
}
.main-navigation a {
    display: block;
    padding: 15px 0;
}
.nav-link {
    color: #000000;
    text-decoration: none;
}
.main-navigation a:hover {
    color: #81b3d2;
}
.main-navigation a:active {
    color: #cacaca;
}
.main-navigation .active {
    color: #766357;
}
.main-navigation .active:hover {
    color: #604e43;
}
.main-navigation .active:active {
    color: #dbd8d5;
}

/*стили для index*/
.container-content {
    background-color: #e4f1fa;
    background-image: url("../img/index-white-768x37.png"), url("../img/background-photo-768x512.jpg");
    background-position: 0 476px, 0 0, 100%;
    background-repeat: no-repeat;
    height: 511px;
    margin-bottom: 57px;
    padding-top: 1px;
}
.big-logo {
    width: 456px;
    height: 352px;
    margin: 0 auto;
    margin-top: 75px;
}
.big-logo img {
    width: 456px;
    height: 352px;
}
.reasons-header{
    padding: 0 75px;
    text-align: center;
    margin-bottom: 29px;
}
.text {
    margin-bottom: 53px;
}
.reason-1 {
    background-image: url(../img/index-photo-small-1-512x256.jpg);
    background-repeat: no-repeat;
    background-position: 256px 0;
}
.reason-2 {
    background-image: url(../img/index-photo-small-2-512x256.jpg);
    background-repeat: no-repeat;
}
.reasons-item {
    width: 184px;
    background-color: #81b3d2;
    color: #ffffff;
    text-align: center;
    padding-top: 31px;
    padding-left: 36px;
    padding-right: 36px;
    padding-bottom: 23px;
}
.reasons-title {
    color: #ffffff;
    margin-bottom: 23px;
    padding: 0px 16px;
}
.reasons-item p {
    padding-top: 7px;
}
.icon {
    width: 76px;
    height: 76px;
    margin: 26px auto;
    background-image: url("../img/sprite.png");
    background-repeat: no-repeat;
}
.icon-house {
    background-position: 0;
}
.icon-food {
    background-position: -87px 0;
}
.icon-gift {
    background-position: -168px 0;
}
.features-item {
    float: left;
    width: 186px;
    min-height: 270px;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 35px;
    padding-right: 35px;
}
.features-title {
    margin-top: px;
    padding: 5px 0;
}
.features-text {
    width: 159px;
    margin: 0 auto;
    margin-bottom: 30px;
}
.gift-text {
    width: 165px;
}
.reason-grey {
    float: left;
    background-color: #eeeeee;
    color: #000000;
    margin-bottom: 10px;
}
.grey-title {
    color: #000000;
    margin-bottom: 24px;
}
.reason-grey p {
    padding: 7px 7px;
    width: 170px;
}
.reason-grey .narrow-text {
    width: 152px;
    margin: 14px auto;
}
.search-form {
    width: 568px;
    margin: 0 auto;
    text-align: center;
}
.search-title {
    padding: 14px 0;
    font-size: 30px;
    margin-bottom: 17px;
    font-weight: bold;
}
.search-form p {
    line-height: 24px;
    width: 440px;
    margin: 0 auto;
    margin-bottom: 45px;
}
.hotel-search {
    background-color: #766357;
    font-size: 21px;
    font-weight: bold;
    color: #ffffff;
    padding: 33px 0;
    margin-bottom: 0px;
}
.hotel-form {
    position: relative;
    padding: 55px;
    font-weight: bold;
    line-height: 26px;
    z-index: 2;
    background-color: #ffffff;
    margin-bottom: 78px;
}
.row {
    margin-bottom: 3px;
}
.row3 {
    margin-bottom: 52px;
}
.column-left {
    float: left;
    width: 105px;
    text-align: left;
    padding-top: 6px;
    padding-left: 1px;
    padding-bottom: 4px;
}
.column-right {
    float: right;
    width: 346px;
}
.hotel-form .input {
    border: 2px solid #f2f2f2;
    background-color: #f2f2f2;
    padding: 7px 5px;
    font-size: 14px;
    font-weight: normal;
    font-family: "PT Sans", "Arial", sans-serif;
    color: #000000;
}
.hotel-form .input:hover {
    background-color: #ebebeb;
    border: 2px solid #ebebeb;
    outline: none;
}
.hotel-form .input:active {
    background-color: #ffffff;
    border: 2px solid #e5e5e5;
}
.icon-calendar {
    font-size: 21px;
    position: relative;
    top: -30px;
    right: -384px;
    color: #c2c2c2;
}
.icon-calendar:hover {
    color: #000000;
}
.icon-calendar:active {
    color: #81b3d2;
}
.big {
    float: right;
    width: 333px;
    text-transform: uppercase;
}
.small {
    position: relative;
    width: 100px;
    text-align: center;
}
.adults {
    float: left;
}
.icon-minus,
.icon-plus {
    color: #a9a9a9;
}
.icon-minus:hover,
.icon-plus:hover {
    color: #000000;
}
.icon-minus:active,
.icon-plus:active {
    color: #81b3d2;
}
.icon-minus-adults {
    position: absolute;
    width: 30px;
    left: 171px;
    top: 197px;
}
.icon-plus-adults {
    position: absolute;
    width: 30px;
    left: 246px;
    top: 197px;
}
.icon-minus-kids {
    position: absolute;
    width: 30px;
    left: 404px;
    top: 197px;
}
.icon-plus-kids {
    position: absolute;
    width: 30px;
    left: 480px;
    top: 197px;
}
.kids {
    float: right;
}
.label-kids {
    float: right;
    padding: 7px 0;
    margin-right: 26px;
}
.btn-find {
    border: none;
    width: 100%;
    font-size: 21px;
    line-height: 26px;
    font-weight: bold;
    text-transform: uppercase;
    color: #ffffff;
    background-color: #81b3d2;
    padding: 16px 0;
    text-align: center;
    font-family: "PT Sans", "Arial", sans-serif;
}
.btn-find:hover {
    background-color: #669ec0;
}
.btn-find:active {
    background-color: #5496bd;
    color: #94b9d2;
}
.map {
    position: absolute;
    left: 0px;
    z-index: 1;
}
/*стили для hotels*/
.feature-search-form {
    background-image: url("../img/hotels-bk-768x418.jpg");
    background-position: 0px -56px;
    background-repeat: no-repeat;
    color: #ffffff;
    margin-bottom: 4px;
}
.feature-search-form h3 {
    font-size: 16px;
    font-weight: normal;
    line-height: 21px;
    margin-bottom: 13px;
}
.right-column h3 {
    margin-bottom: 25px;
}
.column {
    width: 160px;
    padding: 0;
}
.column label {
    display: block;
    padding: 5px 13px;
    margin-bottom: 10px;
}
.feature-search-form input[type="checkbox"] {
    display: none;
}
.feature-search-form input[type="checkbox"] + label::before {
    content: "\2610";
    font-size: 32px;
    position: relative;
    top: 4px;
    left: -9px;
    color: #b5b5b5;
}
.feature-search-form input[type="checkbox"]:checked + label::before {
    content: "\2611";
    font-size: 32px;
    position: relative;
    top: 4px;
    left: -11px;
    color: #b5b5b5;
}
.feature-search-form input[type="checkbox"]:disabled + label::before {
    color: #6a6a6a;
}
.feature-search-form input[type="checkbox"] + label:hover::before {
    color: #ffffff;
}
.infrastructure {
    margin: 12px 46px;
    float: left; 
    margin-bottom: 17px;
}
.accomodation-type {
    margin: 12px 35px;
    float: left;
    margin-bottom: 17px;
}
.right-column {
    width: 250px;
    min-height: 158px;
    margin-left: 7px;
    margin-top: 7px;
    float: left;
}
.range-filter {
    display: block;
    width: 225px;
    margin-left: -3px;
    margin-top: -16px;
    margin-bottom: 3px;
}
.price-controls {
    font-size: 0;
    border: 2px solid #ffffff;
    border-radius: 3px;
    margin-bottom: 3px;
}
.price-controls label {
    display: inline-block;
    vertical-align: top;
    width: 50%;
    font-size: 14px;
    text-align: right;
}
.price-controls input {
    font-family: "PT Sans", "Arial", sans-serif;
    font-size: 14px;
    text-align: left;
    color: #ffffff;
    border: none;
    outline: none;
    background: none;
    width: 35px;
    padding: 6px 14px;
    padding-left: 0;
    margin-right: px;
}
.min-price:after {
    content: "";
    height: 22px;
    border: 1px solid #ffffff;
}
.range-controls {
    position: relative;
    height: 22px;
    padding-top: 17px;
    padding-left: 5px;
}
.range-controls .scale {
    height: 2px;
    background: rgba(255, 255, 255, 0.5);
}
.range-controls .bar {
    width: 70%;
    height: 2px;
    background: #ffffff;
}
.range-controls .toggle {
    position: absolute;
    top: 8px;
    left: 0;
    width: 4px;
    height: 4px;
    cursor: pointer;
    border: 8px solid #fff;
    border-radius: 50%;
    background: #ababab;
}
.range-controls .toggle-min {
    left: 4px;
}

.range-controls .toggle-max {
    left: 160px;
}
.range-controls .toggle-min:hover,
.range-controls .toggle-max:hover {
    background: #1c4f80;
}
fieldset {
    border: none;
}
.btn-show {
    display: inline-block;
    vertical-align: top;
    padding: 7px 34px;
    border: 2px solid #ffffff;
    border-radius: 3px;
    text-transform: uppercase;
    background: transparent;
    margin-left: 53px;
    color: #ffffff;
    font-size: 14px;
    font-family: "PT Sans", "Arial", sans-serif; 
}
.results {
    width: 676px;
    margin: 0 auto;
    margin-bottom: 2px;
}
.results-count, 
.sort {
    display: inline-block;
    vertical-align: middle;
}
.results-count {
    font-size: 21px;
    line-height: 26px;
    font-weight: bold;
    margin-right: 44px;
}
.sort {
    font-size: 12px;
    line-height: 18px;
    margin-right: 35px;
}
.sort-btn {
    font-size: 12px;
    line-height: 18px;
    margin-right: 29px;
    color: #cacaca;
    border-bottom: 1px dotted #81b3d2;
    text-decoration: none;
}
.sort-btn.active {
    color: #81b3d2;
    border: none;
}
.sort-btn:hover {
    color: #81b3d2;
}
.sort-btn:active {
    color: #000000;
}
.icon-up-dir,
.icon-down-dir {
    font-size: 21px;
    color: #cccccc;
    position: relative;
}
.icon-up-dir.active,
.icon-down-dir.active {
    color: #81b3d2;
}
.icon-up-dir {
    left: 83px;
    top: 2px;
}
.icon-down-dir {
    left: 74px;
    top: 2px;
}
.icon-up-dir:hover,
.icon-down-dir:hover {
    color: #000000;
} 
.icon-up-dir:active,
.icon-down-dir:active {
    color: #81b3d2;
} 
.results-container {
    width: 768px;
    margin: 0 auto;
}
.hotel {
    border-top: 1px solid #e5e5e5;
    padding: 30px 0;
}
.hotel:last-child {
    border-bottom: 1px solid #e5e5e5;
}
.results-hotel {
    width: 676px;
    margin: 0 auto;
}
.results-hotel img {
    float: left;
}
.central-column {
    width: 380px;
    float: left;
}
.hotel-name {
    font-size: 21px;
    line-height: 26px;
    font-weight: bold;
    margin-top: -5px;
    margin-bottom: 6px;
    margin-left: 32px;
    text-decoration: none;
    color: #000000;
    width: 230px;
    display: block;
}
.hotel-name:hover {
    color: #81b3d2;
}
.hotel-name:active {
    color: #cacaca;
}
.results-hotel-type,
.results-price-range {
    display: inline-block;
    vertical-align: top;
    font-size: 14px;
    line-height: 21px;
    font-weight: normal;
}
.results-hotel-type {
    width: 110px;
    margin-left: 32px;
}
.results-price-range {
    margin-left: 2px;
    margin-right: 90px;
}
.btn {
    display: inline-block;
    vertical-align: top;
    text-decoration: none;
    font-size: 14px;
    line-height: 21px;
    font-weight: bold;
    color: #ffffff;
    padding: 3px 16px;
    margin-top: 14px;
}
.btn-more {
    background-color: #81b3d2;
    margin-left: 32px;
    margin-right: 3px;
}
.btn-more:hover {
    background-color: #669ec0;
}
.btn-more:active {
    background-color: #5496bd;
    color: #94b9d2;
}
.btn-book {
    background-color: #766357;
}
.btn-book:hover {
    background-color: #604e43;
}
.btn-book:active {
    background-color: #503e33;
    color: #928a85;
}
.stars {
    float: right;
    width: 110px;
}
.icon-star {
    float: right;
    width: 24px;
    color: #81b3d2;
    font-size: 18px;
    margin-right: 0px;
    position: relative;
    left: 3px;
    top: -3px;
}
.rating {
    float: right;
    width: 90px;
    padding: 4px 5px;
    background-color: #f2f2f2;
    color: #666666;
    margin-top: 40px;
}
/* Стили футера */

.main-footer {
    position: relative;
    padding: 6px 32px;
    z-index: 3;
    opacity: 0.9;
    background-color: #ffffff;
}
.inner-footer {
    opacity: 1;
}
.hashtag {
    float: left;
    margin-left: 29px;
    margin-right: 112px;
    padding: 44px 0;
    font-size: 21px;
    font-weight: bold;
}
.footer-social {
    float: left;
    margin-right: 65px;
    font-size: 0;
    margin-top: 31px;
}
.social-btn {
    display: inline-block;
    vertical-align: top;
    width: 46px;
    min-height: 34px;
    background-color: #81b3d2;
    margin-right: 6px;
    color: #ffffff;
    font-size: 20px;
    text-align: center;
    padding-top: 14px;
}
.social-btn:last-child {
    margin-right: 0;
}
.social-btn:hover {
    background-color: #669ec0;
}
.social-btn:active {
    background-color: #5496bd;
    color: #88b6d1;
}
.footer-copyright {
    float: right;
    margin-right: -2px;
    margin-top: 35px;
}
.footer-copyright span {
    display: inline-block;
    vertical-align: top;
    padding: 9px 5px;
}
.footer-copyright a {
    display: inline-block;
    vertical-align: top;
    font-size: 0;
    text-decoration: none;
    width: 113px;
    height: 39px;
    background: #ffffff url("../img/HTMLAcademy-logo-sprite-113-120.png") no-repeat top;
}
.footer-copyright a:hover {
    background-position: 0 -40px;
}
.footer-copyright a:active {
    background-position: 0 -80px;
}
